<nav class="navbar">
    <div class="logo">📌 RéclamationsApp</div>
  
    <ul class="nav-links">
      <li *ngIf="role === 'Client'"><a routerLink="/reclamation">Soumettre</a></li>
      <li *ngIf="role === 'Client'"><a routerLink="/suivi">Suivi</a></li>
  
      <li *ngIf="role === 'Agent'"><a routerLink="/agent">À Traiter</a></li>
  
      <li *ngIf="role === 'Admin'"><a routerLink="/admin">Dashboard</a></li>
      <li *ngIf="role === 'Admin'"><a routerLink="/admin/reclamations-list">Toutes les réclamations</a></li>
  
      <li><button (click)="logout()">Déconnexion</button></li>
    </ul>
  </nav>
  